<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="logo">Task Manager</h1>
    <div class="box">
        <div class="box1">
            <h1 id="box1-heading">Track Your Task</h1>
            <p class="box-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, omnis rem et molestiae veniam at consectetur vero voluptas ex, ad sequi maiores, velit aliquid quaerat distinctio cum quibusdam facere mollitia!</p>
            <a href="/register" id="trackbutton">Start Tracking</a>
        </div>
        <img src="./image/task.png" alt="Task image" id="box2-img">
    </div>
</body>
</html>