/* admin.css */

/* Global styles */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Logo styling */
#logo {
    text-align: center;
    margin-top: 20px;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 8px;
    margin: 20px 0px;
    border-radius: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

/* Task box styles */
.box-task {
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    flex: 1;
    max-width: 800px;
    /* Adjust max-width as per your design */
    width: 100%;
}

#task-heading {
    text-align: center;
}

form#taskbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form#taskbox input[type="text"],
form#taskbox input[type="email"],
form#taskbox button {
    margin: 5px;
    padding: 6px;
    width: calc(33.33% - 10px);
    /* Adjust input width */
}

form#taskbox button {
    width: 100px;
    /* Adjust button width */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form#taskbox button:hover {
    background-color: #45a049;
}

/* Task list styles */
.tasklist {
    margin-top: 20px;
}

.task-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.task-item h5 {
    margin-bottom: 5px;
}

.task-email {
    margin-top: 10px;
}

.action-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.action-curd {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#green {
    background-color: #4CAF50;
    color: white;
}

#green:hover {
    background-color: #45a049;
}

#red {
    background-color: #f44336;
    color: white;
}

#red:hover {
    background-color: #da190b;
}

/* Responsive design */
@media (max-width: 768px) {
    .page {
        margin: 10px;
    }

    .box-task {
        margin-left: 0;
    }

    form#taskbox input[type="text"],
    form#taskbox input[type="email"],
    form#taskbox button {
        width: 100%;
        /* Full width on smaller screens */
    }

    .sidebar {
        display: none;
        /* Hide sidebar on smaller screens */
    }
}