/* register.css */

/* Global styles */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box img {
    max-width: 100px; /* Adjust image size as needed */
    margin-bottom: -13px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form h1 {
    margin-bottom: 0px;
}

.register-div {
    margin-bottom: 15px;
    text-align: left;
}

.register-div label {
    display: block;
    margin-bottom: 5px;
}

.register-div input {
    /* width: 100%; */
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ff003f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #be0a37;
}

a {
    color: #4CAF50;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .box {
        width: 100%;
        max-width: 100%;
    }

    .register-div input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .box img {
        max-width: 80px; /* Adjust image size for smaller screens */
    }

    .register-div input {
        padding: 6px;
    }

    button {
        padding: 6px;
    }
}
